.span4
{
    width: 80px;
    float: left;
    margin: 0 6px 10px 6px;
}


.num-pad
{
    padding-left: 15px;
}

.num
{
    border: 1px solid #2196f3;
    -webkit-border-radius: 999px;
    border-radius: 999px;
    -moz-border-radius: 999px;
    height: 80px;
    background-color: #4582ec;
    color: #333;
    cursor: pointer;
}
.num:hover
{
    background-color: #2196f3;
    color: #fff;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
.txt
{
    font-size: 30px;
    text-align: center;
    margin-top: 24px;
    font-family: 'Lato' , sans-serif;
    line-height: 30px;
    color: #ffffff;
}
.small
{
    font-size: 15px;
}


.spanicons
{
    width: 72px;
    float: left;
    text-align: center;
    margin-top: 40px;
    color: #9e9e9e;
    font-size: 30px;
    cursor: pointer;
}
.spanicons:hover
{
    color: #3498db;
    transition-property: color .2s linear 0s;
    -moz-transition: color .2s linear 0s;
    -webkit-transition: color .2s linear 0s;
    -o-transition: color .2s linear 0s;
}
.active
{
    color: #3498db;
}
